body {
  font-family: Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif;
  overflow: scroll;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #aaa;
  text-decoration: none;
}


/*----------------------------------------------------------------------------*/

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*----------------------------------------------------------------------------*/

.button {
  color: #ccc;
  background: #000;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#333, #000);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}


/*----------------------------------------------------------------------------*/

.nav {
  display: flex;
  justify-content: center;
}

.nav li {
  margin-right: 1em;
  font-size: 2em;
  color: #aaa;
}

a.active {
  color: #333;
}


/*----------------------------------------------------------------------------*/

.languages {
  display: flex;
  justify-content: center;
  color: #aaa;
}

.language {
  list-style: none;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.selected {
  color: #333;
}


/*----------------------------------------------------------------------------*/

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.avatar {
  width: 150px;
  border-radius: 5%;
}

.space-list-items {
  margin-bottom: 10px;
}
